.mascot-emoji {
  position: relative;

  &__bg {
    position: absolute;
    top: -35%;
    left: -15%;
    object-fit: contain;
    height: 120%;
    width: 130%;
  }

  &__mascot {
    object-fit: contain;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    position: absolute;
  }

  &--small {
    height: 5rem;
    width: 5rem;
  }

  &--medium {
    height: 7rem;
    width: 7rem;
  }

  &--large {
    height: 10rem;
    width: 10rem;
  }
}
